.shop{
    padding: 20px 0;
    background-color: #E9D5DA;
}

.items-container{
    width: 80%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
    gap: 25px 0;
    
}